.event{
    display: flex;
    flex-direction: column;
    gap: 72px;
}


.event__title-text{
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #101010;
    font-family: "Raleway", sans-serif;
}
.event__reasons{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px;
}
.event__title-number{
    font-weight: 600;
font-size: 96px;
line-height: 110%;
letter-spacing: -0.04em;
color: #101010;
font-family: "Raleway", sans-serif;
}
.event__performance-name{
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #101010;
    font-family: "Raleway", sans-serif;
}
.event__performance-description{
    font-weight: 450;
    font-size: 16px;
    line-height: 140%;
    color: rgba(16, 16, 16, 0.6);
    font-family: "Raleway", sans-serif;
}
.event__reasons-carts{
    display: flex;
    flex-direction: column;
    gap:34px
}
.event__empty{
    width: 100%;
    border: 1px solid #101010;
}