.projects__section
{
    display: flex;
    flex-direction: column;
    gap: 78px;
    margin: 96px 649px 94px 357px;
}
.projects__section-wr
{
    background-color: #101010;
}
.projects__main
{
    display: flex;
    align-items: start;
}
.projects__main__text
{
    font-family: "Suisse Intl", sans-serif;
    font-weight: 600;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #fff;
}
.projects__main__lower-text
{
    font-family: "Suisse Intl", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}
.projects
{
    display: flex;
    gap: 40px;
}
.project__columns
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.project__card
{
    display: flex;
}
.project__card-text
{
    font-family: "Suisse Intl", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #fff;
}
.project__card-definition
{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
}
.line__project
{
    max-width: 435px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}